# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
dist/
build/
nbproject/

FocusLockButton/[Dd]ist/
FocusLockButton/[Bb]uild/
FocusLockButton/[Nn]bproject/
FocusLockButton/dist/
FocusLockButton/build/
FocusLockButton/nbproject/
